<launch>

  <!-- Record raw odometry, imu, and gps data for localization tuning -->
  <node name="bag_creation" pkg="rosbag" type="record"
        args="-a"
        output="screen" />

  <!-- Mobile base -->
  <node name="etherbotix" pkg="etherbotix_python" type="driver.py" output="screen">
    <rosparam file="$(find robomagellan)/config/etherbotix.yaml" command="load" />
    <remap from="cmd_vel" to="base_controller/command" />
    <remap from="odom" to="base_controller/odom" />
  </node>

  <!-- Get raw GPS from board -->
  <node name="gps_publisher" pkg="etherbotix_python" type="gps_publisher.py" />
  <!-- Convert raw nmea strings to nmea_msgs/Fix -->
  <node name="nmea_topic_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" />

  <!-- Get raw IMU data -->
  <node name="um7_driver" pkg="um7" type="um7_driver" >
    <param name="port" type="string" value="/dev/ttyUSB0" />
    <param name="mag_updates" type="bool" value="false" />
    <param name="frame_id" value="imu_link" />
    <param name="tf_ned_to_enu" value="false" />
    <remap from="imu" to="imu_um7" />
  </node>

  <!-- Mux between joystick and commands -->
  <node name="cmd_vel_mux" pkg="topic_tools" type="mux" respawn="true"
        args="base_controller/command /cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

  <!-- Teleop -->
  <node name="joy" pkg="joy" type="joy_node" >
    <param name="autorepeat_rate" value="5"/>
  </node>
  <node name="teleop" pkg="etherbotix_python" type="simple_teleop.py" >
    <param name="axis_linear" value="4"/>
    <param name="axis_angular" value="0"/>
    <param name="scale_linear" value="1.0" />
    <param name="scale_angular" value="3.0" />
    <param name="axis_deadman" value="4"/><!--L1 shoulder button-->
  </node>

</launch>
