<launch>

  <!-- Mobile base -->
  <node name="etherbotix" pkg="etherbotix_python" type="driver.py" output="screen">
    <rosparam file="$(find robomagellan)/config/etherbotix.yaml" command="load" />
    <remap from="cmd_vel" to="base_controller/command" />
    <remap from="odom" to="base_controller/odom" />
  </node>

  <!-- Get raw GPS from board -->
  <node name="gps_publisher" pkg="etherbotix_python" type="gps_publisher.py" />
  <!-- Convert raw nmea strings to nmea_msgs/Fix -->
  <node name="nmea_topic_driver" pkg="nmea_navsat_driver" type="nmea_topic_driver" />

  <!-- IMU (and odometry fusion) -->
  <include file="$(find robomagellan)/launch/um7.launch" />
  <node name="ekf_odom" pkg="robot_localization" type="ekf_localization_node" >
    <rosparam command="load" file="$(find robomagellan)/config/robot_localization.yaml" />
    <remap from="odometry/filtered" to="odom" />
  </node>

  <!-- TODO: setup camera -->

  <!-- TODO: setup global localization -->

  <!-- TODO: add navigation, yeah, that is totally one line -->

  <!-- Mux between joystick and commands -->
  <node name="cmd_vel_mux" pkg="topic_tools" type="mux" respawn="true"
        args="base_controller/command /cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

  <!-- Teleop -->
  <node name="joy" pkg="joy" type="joy_node" />
  <node name="teleop" pkg="etherbotix_python" type="simple_teleop.py" >
    <param name="scale_linear" value="1.0" />
    <param name="scale_angular" value="3.0" />
  </node>

</launch>
