<launch>

  <!-- Drivers: mobile base, gps, um7 -->
  <include file="$(find robomagellan)/launch/drivers/base.launch.xml" />
  <include file="$(find robomagellan)/launch/drivers/gps.launch.xml" />
  <include file="$(find robomagellan)/launch/drivers/um7.launch.xml" />

  <!-- Process IMU into usable values -->
  <include file="$(find robomagellan)/launch/compute/imu.launch.xml" />

  <!-- Local frame localization (base_link to odom) -->
  <include file="$(find robomagellan)/launch/compute/ekf_local.launch.xml" />

  <!-- TODO: setup camera -->

  <!-- TODO: setup global localization -->

  <!-- TODO: add navigation, yeah, that is totally one line -->

    <!-- Joystick Teleop -->
  <include file="$(find robomagellan)/launch/drivers/teleop.launch.xml" />

</launch>
