<?xml version="1.0"?>
<launch>

  <node name="um7_driver" pkg="um7" type="um7_driver" >
    <param name="port" type="string" value="/dev/ttyUSB0" />
    <param name="mag_updates" type="bool" value="false" />
    <param name="frame_id" value="imu_link" />
    <param name="tf_ned_to_enu" value="false" />
    <remap from="imu" to="imu_um7" />
  </node>

  <node name="imu_manager" pkg="nodelet" type="nodelet" args="manager" />

  <!-- Transforms UM7 data in imu_link frame to ENU data in base_link frame -->
  <node name="imu_data_transformer" pkg="nodelet" type="nodelet" args="load imu_transformer/imu_transformer_nodelet imu_manager" >
    <remap from="imu_in" to="imu_um7" />
    <remap from="imu_out/data" to="imu/data_raw" />
    <remap from="imu_out/mag" to="imu/mag" />
    <param name="target_frame" value="base_link" />
  </node>

  <!-- Filter raw gyro, accel and mag data into a usable orientation -->
  <node name="imu_filter" pkg="nodelet" type="nodelet" args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" >
    <rosparam>
      use_mag: false
      mag_bias_x: 0
      mag_bias_y: 0
      mag_bias_z: 0
      orientation_stddev: 0.001
      gain: 0.01
      zeta: 0.001
      publish_tf: false
    </rosparam>
  </node>

  <node name="fake_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0.0762 0.3302 1 0 0 0 base_link imu_link 10" />

</launch>
